body {
  /*background-image: url('../images/back.png');*/
  background-color: #344;
  background-image: linear-gradient(90deg, transparent 50%, rgb(51,66,68) 50%);
  background-size: 20px 50px;
  color: #ddd;
}

input[type=password]{
  color: black;
}

input[type=text]{
  color: black;
}

input[type=text]:focus{
  background-color: #eee;
  color: black;
}

input[type=password]:focus{
  background-color: #eee;
  color: black;
}

.button {
  border-radius: 10px; /*curve*/
}

.button.team-btn {
  width: 20em;
  margin: 0em;
  text-align: center;
  background-color: #443344;
  color: #ddd;
  font-size: 0.7em;
  border-radius: 0.5em;
  border-color: #434;
}

.button.team-btn:hover {
  margin: 0em;
  background-color: #443344;
  color: #fff;
  font-weight: bold;
  border-color: #434;
}

.button.login-btn {
  width: 180px;
  margin: 5px;
  text-align: center;
  border-radius: 0px;
  background-color: #434;
  color: #ddd;
  font-size: 0.8em;
  border-color: #434;
}

.button.buy-btn {
  width: 180px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  border-radius: 0px;
  background-color: #434;
  color: #ddd;
  font-size: 0.8em;
  border-color: #434;
}

/*NAVBAR*/
nav.primary{
  display: table;
  text-align: center;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  background-color: #4f484f;
  color: #ddd;
  margin: 0 auto;
}

nav.primary ul, nav.primary ul li {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0px;
}

nav.primary select {
  display: none;
  width:  100%;
  height: 28px;
  margin: 0px 0;
}

nav.primary ul li {
  display: block;
  float: left;
  position: relative;
}

nav.primary ul li a {
  line-height: 50px;
  padding:  0 20px;
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-align: center;
}

nav.primary ul li a:hover {
  background: #443344;
  cursor: pointer;
}

/*Jumbotron*/

.jumbotron{
  background-color: #434;
  /*border: 1px solid #ccc;*/
  margin: 0 0;
  padding: 10px;
  padding-top: 40px;
}

.jumbotron.shiny{
  /*background-color: #434;*/
  height: auto;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.jumbotron.shiny p{
  /*background-color: #434;*/
  height: auto;
  margin-bottom: 0;
  line-height: 0px;
}

.jumbotron.status{
  margin: 0rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #434;
  padding-bottom: 40px;
  /*background-image: url('../images/back.png');*/
}

.jumbotron p{
  text-align: center;
  font-size: 2em;
  color: #eee;
  /*line-height: 150px;*/
  padding-bottom: 40px;
}

.jumbotron.help{
  font-size: 1em;
  color: #ddd;
}

/*Container*/
.teams{
  margin: 0 auto;
  padding-top: 1em;
  background: #4f484f;
  text-align: center;
}

.teamlist{
  margin: 0 auto;
  list-style: none outside none;
  text-align: center;
}

.profile{
  text-align: center;
  padding: 5px; 
}

.gap 
{
  margin-right: 2rem;
}
.allgap 
{
  margin: 3rem;
}

.userdata {
  font-weight: bold;
  color: #ddd;
  text-align: center;
  margin-left: 40%;
}

/*Player*/
#information{
  margin-bottom: 30px;
}

#playername{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.playerdata{
  text-align: center;
  margin: auto;
}

table, td {
  border: 0px solid #434;
  margin: 4px 4px;
  padding: 1.2rem;
}

.logsign {
  background-color: #434;
  text-align: center;
}
