doctype html
html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/fixtures_and_results.js')


<style>button { height: 70px; width: 70px; font-size: 10pt }</style>
	
<body>
<button id='PersonalInfo'>Click to view  info</button>
<button id='BuyingPortal'>Click to go to Buying Portal</button>
<button id='SellingPortal'>Click to go to Selling Portal</button>	
<button id='FixRes'>Fixtures and Results</button>	
<button id='PointsTable'>Points Table</button>	
#f_and_r

