doctype html
html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/player_info.js')


<style>button { height: 70px; width: 70px; font-size: 10pt }</style>
	
<body>
<button id='Buy'>Buy player</button>
#information