<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs-->
  <meta charset="utf-8">
  <title>PSL Fantasy</title>
  <meta name="description" content="PSL Fantasy App">
  <meta name="author" content="Nabeel Ahmed">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" href="../images/favicon.png">
  <script src="https://use.fontawesome.com/84b8e3cd0c.js"></script>

  <!-- ANGULAR -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="buying_portal.js"></script>


</head>

<body ng-app="myPSL">

<!-- Navigation -->
  <div class="band navigation">
      <nav class="container primary">
          <div class="sixteen columns">
              <ul>
                  <li><a href="profile.html" id="PersonalInfo"><i class="fa fa-home"></i></a></li>
                  <li><a href="views/buy.html" id="BuyingPortal">Buy</a></li>
                  <li><a href="views/sell.html" id="SellingPortal">Sell</a></li>
                  <li><a href="views/fixtures.html" id="FixRes">Fixtures</a></li>
                  <li><a href="views/table.html" id="PointsTable">League Table</a></li>
              </ul>
          </div>
      </nav>
  </div>

<!-- Jumbotron -->
<div class="container">
  <section>
    <div class="jumbotron">
      <p>Buy Players</p>
    </div>
  </section>
</div>

<!-- PAGE SPECIFIC -->

<!-- Containers -->
  <div class="container teams">
      <div class ="row" ng-controller="myC">
        <div class="six columns">
        
        <!--<li ng-repeat="n in range(100,500,100)">
        <li><input class="button team-btn" ng-click="toggle(n)" type="button" value="{{n}}" id="{{n}}">
        </li>-->
        <ul class="teamlist">
        <li><button class="button team-btn" type="button" id="1">Hello</button></li>
        <li><button class="button team-btn" type="button" id="2">Hello</button></li>
        <li><button class="button team-btn" type="button" id="3">Hello</button></li>
        <li><button class="button team-btn" type="button" id="4">Hello</button></li>
        <li><button class="button team-btn" type="button" id="5">Hello</button></li>
        </ul>
        </div>

      <div class="six columns">
        <!--<div ng-show="{activeTeam || 100}">
        <ol class="teamlist">
        <li ng-repeat="m in range(1, 11)">
        <li><button class="button team-btn" type="button" value="{{activeTeam + m}}" id="{{activeTeam + m}}">
        Hello</button></li>
        </ol>
        </div>-->

      <ol class="teamlist">
        <li><button class="button team-btn" type="button" id="6">Hello</button></li>
        <li><button class="button team-btn" type="button" id="7">Hello</button></li>
        <li><button class="button team-btn" type="button" id="8">Hello</button></li>
        <li><button class="button team-btn" type="button" id="9">Hello</button></li>
        <li><button class="button team-btn" type="button" id="10">Hello</button></li>
        <li><button class="button team-btn" type="button" id="11">Hello</button></li>
        <li><button class="button team-btn" type="button" id="12">Hello</button></li>
        <li><button class="button team-btn" type="button" id="13">Hello</button></li>
        <li><button class="button team-btn" type="button" id="14">Hello</button></li>
        <li><button class="button team-btn" type="button" id="15">Hello</button></li>
        <li><button class="button team-btn" type="button" id="16">Hello</button></li>
      </ol>
      </div>
    </div>
  </div>

</body>
</html>
