doctype html
html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='/buying_portal.js')


<style>button { height: 70px; width: 70px; font-size: 10pt }</style>
	
<body>
<button id='PersonalInfo'>Click to view  info</button>
<button id='BuyingPortal'>Click to go to Buying Portal</button>
<button id='SellingPortal'>Click to go to Selling Portal</button>	
<button id='FixRes'>Fixtures and Results</button>	
<button id='PointsTable'>Points Table</button>	
<hr/>
<button id='m0'></button>
<hr/>
<tr>
<td><button id='m00'></button></td>
<td><button id='m01'></button></td>
<td><button id='m02'></button></td>
<td><button id='m03'></button></td>
<td><button id='m04'></button></td>
<td><button id='m05'></button></td>
<td><button id='m06'></button></td>
<td><button id='m07'></button></td>
<td><button id='m08'></button></td>
<td><button id='m09'></button></td>
<td><button id='m010'></button></td>
</tr>
<hr/>
<button id='m1'></button>
<hr/>
<tr>
<td><button id='m10'></button></td>
<td><button id='m11'></button></td>
<td><button id='m12'></button></td>
<td><button id='m13'></button></td>
<td><button id='m14'></button></td>
<td><button id='m15'></button></td>
<td><button id='m16'></button></td>
<td><button id='m17'></button></td>
<td><button id='m18'></button></td>
<td><button id='m19'></button></td>
<td><button id='m110'></button></td>
</tr>
<hr/>
<button id='m2'></button>
<hr/>
<tr>
<td><button id='m20'></button></td>
<td><button id='m21'></button></td>
<td><button id='m22'></button></td>
<td><button id='m23'></button></td>
<td><button id='m24'></button></td>
<td><button id='m25'></button></td>
<td><button id='m26'></button></td>
<td><button id='m27'></button></td>
<td><button id='m28'></button></td>
<td><button id='m29'></button></td>
<td><button id='m210'></button></td>
</tr>
<hr/>
<button id='m3'></button>
<hr/>
<tr>
<td><button id='m30'></button></td>
<td><button id='m31'></button></td>
<td><button id='m32'></button></td>
<td><button id='m33'></button></td>
<td><button id='m34'></button></td>
<td><button id='m35'></button></td>
<td><button id='m36'></button></td>
<td><button id='m37'></button></td>
<td><button id='m38'></button></td>
<td><button id='m39'></button></td>
<td><button id='m310'></button></td>
</tr>
<hr/>
<button id='m4'></button>
<hr/>
<tr>
<td><button id='m40'></button></td>
<td><button id='m41'></button></td>
<td><button id='m42'></button></td>
<td><button id='m43'></button></td>
<td><button id='m44'></button></td>
<td><button id='m45'></button></td>
<td><button id='m46'></button></td>
<td><button id='m47'></button></td>
<td><button id='m48'></button></td>
<td><button id='m49'></button></td>
<td><button id='m410'></button></td>
</tr>
</body>