<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs-->
  <meta charset="utf-8">
  <title>PSL Fantasy</title>
  <meta name="description" content="PSL Fantasy App">
  <meta name="author" content="Nabeel Ahmed">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script src="https://use.fontawesome.com/84b8e3cd0c.js"></script>

</head>

<body>

<!-- Navigation -->
  <div class="band navigation">
      <nav class="container primary">
          <div class="sixteen columns">
              <ul>
                  <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                  <li><a href="views/buy.html">Buy</a></li>
                  <li><a href="views/sell.html">Sell</a></li>
                  <li><a href="views/browse.html">Browse Players</a></li>
                  <li><a href="views/table.html">League Table</a></li>
              </ul>
          </div>
      </nav>
  </div>

<!-- Jumbotron -->
<!-- <div class="container">
  <section>
    <div class="jumbotron">
      <p>Pakistan Super League</p>
    </div>
  </section>
</div> -->

<!-- PAGE SPECIFIC -->

<!-- Containers -->
  <div class="container">
    <div class="one-third column featured">
      <h2>Browse</h2>
      <p>Follow your favorite players in the Pakistan Super League.</p>
      <a class="button button-primary" href="#">Browse Players</a>
    </div>
    <div class="one-third column featured">
      <h2>Play</h2>
      <p>Build a team, scout players, and use special moves to get ahead.</p>
      <a class="button button-primary" href="#">Watch a Demo</a>
    </div>
    <div class="one-third column featured ">
      <h2>Compete</h2>
      <p>Login and compete with cricket fans around Pakistan, and the world.</p>
      <a class="button button-primary" href="#">Sign Up</a>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
